body{
    margin: 0;
}
.timer_area{
    display: flex;
    align-items: center;
    padding-left: 350px;
}
.number_input{
    padding: 10px;
    border: solid black 2px;
    margin-right: 30px;
}
.countdown-block{
    padding: 50px;
    border: solid black 3px;
    border-radius: 60px;
    margin-right: 30px;
}
.start-btn{
    padding: 30px;
    border: solid black 2px;
}